// flexbute css grid (v:2.0)
// by Niklas Wagner
// GitHub: https://github.com/primumFlaw/Flexbute
// ======================================================================
// table of contents
// 1. variables
// 2. mixins
// 3. styles
// ======================================================================

// 1. variables
// ======================================================================

// grid type
// !!! if changed breakpoints must be sorted in the right order
// "min-width" => for a mobile first grid (min-width media queries)
// "max-width" => for a desktop first grid (max-width media queries)
$FLB_GRID_TYPE: "min-width";

// column gutter
// [px, em, rem, vw, vh, ...] => column gutter size
// "none" => for no gutter
$FLB_COLUMN_GUTTER: 10px;

// column count
// [integer] => number of columns possible in a grid
$FLB_COLUMN_COUNT: 12;

// column grow
// "true" => columns without width specification will auto grow (flex-grow:1)
// "false" => no column grow
$FLB_COLUMN_GROW: "true";

// column breakpoints
// on grid type == "min-width" => small to big
// on grid type == "max-width" => big to small
$FLB_COLUMN_BREAKPOINTS: (xs: 448px, sm: 576px, md: 768px, lg: 1024px, xl: 1280px);

// grid attribute
$FLB_GRID_ATTRIBUTE: "data-grid";

// column attribute
$FLB_COLUMN_ATTRIBUTE: "data-col";

// 2. mixins
// ======================================================================

// column width generator
@mixin columnWidthGenerator($column) {
    @if $column == 0 {
        display: none;
    }
    @else {
        display: block;
        flex-basis: 100% / $FLB_COLUMN_COUNT * $column;
        max-width: 100% / $FLB_COLUMN_COUNT * $column;
    }
}

// column generator
// possible arguments: "grid", "column"
@mixin columnGenerator($type) {
    @for $column from 0 to $FLB_COLUMN_COUNT + 1 {
        @if $type == "grid" {
            [#{$FLB_GRID_ATTRIBUTE}~="#{$column}"] > [#{$FLB_COLUMN_ATTRIBUTE}] {
                @include columnWidthGenerator($column);
            }
        }

        @if $type == "column" {
            [#{$FLB_GRID_ATTRIBUTE}] > [#{$FLB_COLUMN_ATTRIBUTE}~="#{$column}"] {
                @include columnWidthGenerator($column);
            }
        }
    }
}

// column breakpoint generator
// possible arguments: "grid", "column"
@mixin columnBreakpointGenerator($type) {
    @each $breakpoint, $size in $FLB_COLUMN_BREAKPOINTS {
        @media (#{$FLB_GRID_TYPE}: #{$size}) {
            @for $column from 0 to $FLB_COLUMN_COUNT + 1 {
                @if $type == "grid" {
                    [#{$FLB_GRID_ATTRIBUTE}~="#{$breakpoint}-#{$column}"] > [#{$FLB_COLUMN_ATTRIBUTE}] {
                        @include columnWidthGenerator($column);
                    }
                }

                @if $type == "column" {
                    [#{$FLB_GRID_ATTRIBUTE}] > [#{$FLB_COLUMN_ATTRIBUTE}~="#{$breakpoint}-#{$column}"] {
                        @include columnWidthGenerator($column);
                    }
                }
            }
        }
    }
}

// offset generator
@mixin offsetGenerator {
    @for $column from 0 to $FLB_COLUMN_COUNT + 1 {
        [#{$FLB_GRID_ATTRIBUTE}] > [#{$FLB_COLUMN_ATTRIBUTE}~="left-#{$column}"] {
            margin-left: 100% / $FLB_COLUMN_COUNT * $column;
        }

        [#{$FLB_GRID_ATTRIBUTE}] > [#{$FLB_COLUMN_ATTRIBUTE}~="right-#{$column}"] {
            margin-right: 100% / $FLB_COLUMN_COUNT * $column;
        }
    }
}

// offset breakpoint generator
@mixin offsetBreakpointGenerator {
    @each $breakpoint, $size in $FLB_COLUMN_BREAKPOINTS {
        @media (#{$FLB_GRID_TYPE}: #{$size}) {
            @for $column from 0 to $FLB_COLUMN_COUNT + 1 {
                [#{$FLB_GRID_ATTRIBUTE}] > [#{$FLB_COLUMN_ATTRIBUTE}~="left-#{$breakpoint}-#{$column}"] {
                    margin-left: 100% / $FLB_COLUMN_COUNT * $column;
                }

                [#{$FLB_GRID_ATTRIBUTE}] > [#{$FLB_COLUMN_ATTRIBUTE}~="right-#{$breakpoint}-#{$column}"] {
                    margin-right: 100% / $FLB_COLUMN_COUNT * $column;
                }
            }
        }
    }
}

// 3. styles
// ======================================================================

// column generator include (grid)
@include columnGenerator("grid");

// column breakpoint generator include (grid)
@include columnBreakpointGenerator("grid");

// column generator include (column)
@include columnGenerator("column");

// column breakpoint generator include (column)
@include columnBreakpointGenerator("column");

// offset generator include
@include offsetGenerator;

// offset breakpoint generator include
@include offsetBreakpointGenerator;

// base grid styles
[#{$FLB_GRID_ATTRIBUTE}] {
    flex-wrap: wrap;
    display: flex;

    @if $FLB_COLUMN_GUTTER != "none" {
        margin-right: -#{$FLB_COLUMN_GUTTER / 2};
        margin-left: -#{$FLB_COLUMN_GUTTER / 2};
    }
}

// base column styles
[#{$FLB_COLUMN_ATTRIBUTE}] {
    box-sizing: border-box;

    @if $FLB_COLUMN_GUTTER != "none" {
        padding: $FLB_COLUMN_GUTTER / 2;
    }

    @if $FLB_COLUMN_GROW == "true" {
        flex-grow: 1;
    }
}

// no spill
[#{$FLB_GRID_ATTRIBUTE}~="no-spill"] {
    @if $FLB_COLUMN_GUTTER != "none" {
        margin: 0;
    }
}

// no gutter
[#{$FLB_GRID_ATTRIBUTE}~="no-gutter"] {
    @if $FLB_COLUMN_GUTTER != "none" {
        margin: 0;
    }

    & > [#{$FLB_COLUMN_ATTRIBUTE}] {
        @if $FLB_COLUMN_GUTTER != "none" {
            padding: 0;
        }
    }
}

// grid horizontal center
[#{$FLB_GRID_ATTRIBUTE}~="h-center"] {
    justify-content: center;
}

// grid horizontal start
[#{$FLB_GRID_ATTRIBUTE}~="h-start"] {
    justify-content: flex-start;
}

// grid horizontal end
[#{$FLB_GRID_ATTRIBUTE}~="h-end"] {
    justify-content: flex-end;
}

// grid horizontal space between
[#{$FLB_GRID_ATTRIBUTE}~="h-space-between"] {
    justify-content: space-between;
}

// grid horizontal space around
[#{$FLB_GRID_ATTRIBUTE}~="h-space-around"] {
    justify-content: space-around;
}

// grid horizontal space evenly
[#{$FLB_GRID_ATTRIBUTE}~="h-space-evenly"] {
    justify-content: space-evenly;
}

// grid vertical center
[#{$FLB_GRID_ATTRIBUTE}~="v-center"] {
    align-items: center;
}

// grid vertical start
[#{$FLB_GRID_ATTRIBUTE}~="v-start"] {
    align-items: flex-start;
}

// grid vertical end
[#{$FLB_GRID_ATTRIBUTE}~="v-end"] {
    align-items: flex-end;
}

// grid vertical stretch
[#{$FLB_GRID_ATTRIBUTE}~="v-stretch"] {
    align-items: stretch;
}

// grid vertical baseline
[#{$FLB_GRID_ATTRIBUTE}~="v-baseline"] {
    align-items: baseline;
}